
<form [formGroup]="unitForm" class="unit-form">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput id ="title" formControlName="title" placeholder="Enter title" required>
    <mat-error *ngIf="unitForm.get('title')?.hasError('required')">
      Title is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput id ="description" formControlName="description" placeholder="Enter description" required>
    <mat-error *ngIf="unitForm.get('description')?.hasError('required')">
      Description is required
    </mat-error>
  </mat-form-field>

  
  
  

  <mat-form-field appearance="fill">
    <mat-label>Taught</mat-label>
    <mat-select id="taught" formControlName="taught" placeholder="Enter taught" required>
      <mat-option [value]="true">Yes</mat-option>
      <mat-option [value]="false">No</mat-option>
    </mat-select>
    <mat-error *ngIf="unitForm.get('taught')?.hasError('required')">
      Taught is required
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Add Unit</button>
</form>
