<p>add</p>

<!--
<div>
    <div class="submit-form">
      @if (!submitted) {
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="unit.title"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="unit.description"
          name="description"
        />
      </div>
  
      <button (click)="saveUnit()" class="btn btn-success">Submit</button>
      } @else {
      <h4>Unit was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newUnit()">Add</button>
      }
    </div>
  </div>

-->