
<h1 id="heading">Update Unit</h1>
<form [formGroup]="unitForm" (ngSubmit)="onSave()" class="unit-form">
  <mat-form-field>
    <mat-label>ID</mat-label>
    <input matInput formControlName="id"  readonly>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" [readonly]="!isEditable.title">
    <button mat-icon-button matSuffix (click)="toggleEdit('title')" type="button">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput formControlName="description" [readonly]="!isEditable.description">
    <button mat-icon-button matSuffix (click)="toggleEdit('description')" type="button">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Taught</mat-label>
    <input matInput formControlName="taught" [readonly]="!isEditable.taught">
    <button mat-icon-button matSuffix (click)="toggleEdit('taught')" type="button">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]="unitForm.invalid">Save</button>
</form>